<a href="https://colab.research.google.com/github/moyanke/inf1340-programmingfordatascience-fa22/blob/main/FINAL_INF1340_YankeMo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INF1340 Final Project Yanke Mo

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
df = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx')

In [11]:
from datascience import *
import matplotlib
matplotlib.use('Agg', warn=False)
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

<ipython-input-11-a5a2fb7197c7>:3: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('Agg', warn=False)

In [12]:
table_01 = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 1')
table_02= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 2')
table_03= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 3')
table_04= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 4')
table_05= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 5')
table_06= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 6')
table_annex= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='ANNEX')
table_notes= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='NOTES')

#Table One#

In [46]:
#Drop 0-15 rows
table_1_1 = table_01.drop(table_01.index[0:15])
#Rename the columns
table_1_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Both Sex',
                  '1995 Migrant Stock Both Sex','2000 Migrant Stock Both Sex','2005 Migrant Stock Both Sex',
                  '2010 Migrant Stock Both Sex','2015 Migrant Stock Both Sex','1990 Migrant Stock Male',
                  '1995 Migrant Stock Male','2000 Migrant Stock Male','2005 Migrant Stock Male','2010 Migrant Stock Male',
                  '2015 Migrant Stock Male','1990 Migrant Stock Female','1995 Migrant Stock Female','2000 Migrant Stock Female',
                  '2005 Migrant Stock Female','2010 Migrant Stock Female',
                  '2015 Migrant Stock Female']

In [47]:
#Melt Columns
tidy_table_01 = table_1_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Year",value_name="Migrant Stock")

In [ ]:
#Separate the Year cloumns into year, gemder, migrant stock
tidy_table_01=(tidy_table_01.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[18:].astype(str)).drop("Year",axis=1))
tidy_table_01.sort_values(by ='Order').reset_index().drop(columns = 'index')

In [49]:
#Remove Missing Value
missing_val = [".."]
missing = tidy_table_01.isin(missing_val)
table1_RM = tidy_table_01.mask(missing, "Missing_value")
#Remove Non-Country Variable
index_def = table1_RM[(table1_RM['Name of Country']=='WORLD')|(table1_RM['Name of Country']=='Developed regions')|(table1_RM['Name of Country']=='Developing regions')|
                                (table1_RM['Name of Country']=='Sub-Saharan Africa')|
                                (table1_RM['Name of Country']=='Africa')|
                                (table1_RM['Name of Country']=='Eastern Africa')|
                                (table1_RM['Name of Country']=='Middle Africa')|
                                (table1_RM['Name of Country']=='Northern Africa')|
                                (table1_RM['Name of Country']=='Southern Africa')|
                                (table1_RM['Name of Country']=='Western Africa')|
                                (table1_RM['Name of Country']=='Asia')|
                                (table1_RM['Name of Country']=='Central Asia')|
                                (table1_RM['Name of Country']=='Eastern Asia')|
                                (table1_RM['Name of Country']=='South-Eastern Asia')|
                                (table1_RM['Name of Country']=='Southern Asia')|
                                (table1_RM['Name of Country']=='Europe')|
                                (table1_RM['Name of Country']=='Eastern Europe')|
                                (table1_RM['Name of Country']=='Northern Europe')|
                                (table1_RM['Name of Country']=='Southern Europe')|
                                (table1_RM['Name of Country']=='Western Europe')|
                                (table1_RM['Name of Country']=='Latin America and the Caribbean')|
                                (table1_RM['Name of Country']=='Central America')|
                                (table1_RM['Name of Country']=='South America')|
                                (table1_RM['Name of Country']=='Central America')|
                                (table1_RM['Name of Country']=='Northern America')|
                                (table1_RM['Name of Country']=='Oceania')|
                                (table1_RM['Name of Country']=='Australia and New Zealand')|
                                (table1_RM['Name of Country']=='Melanesia')|
                                (table1_RM['Name of Country']=='Micronesia')|
                                (table1_RM['Name of Country']=='Polynesia')|
                                (table1_RM['Name of Country']=='Least developed countries')|
                                (table1_RM['Name of Country']=='Less developed regions excluding least developed countries')].index
table1_RMC = table1_RM.drop(index_def) 
table1_RMC

,Order,Name of Country,Notes,Country Code,Type of Data(a),Migrant Stock,year,Gender
8,9,Burundi,NaN,108,B R,333110,1990,Both Sex
9,10,Comoros,NaN,174,B,14079,1990,Both Sex
10,11,Djibouti,NaN,262,B R,122221,1990,Both Sex
11,12,Eritrea,NaN,232,I,11848,1990,Both Sex
12,13,Ethiopia,NaN,231,B R,1155390,1990,Both Sex
...,...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2460.0,2015,Female
4766,262,Tokelau,NaN,772,B,254.0,2015,Female
4767,263,Tonga,NaN,776,B,2604.0,2015,Female
4768,264,Tuvalu,NaN,798,C,63.0,2015,Female
4769,265,Wallis and Futuna Islands,NaN,876,B,1411.0,2015,Female

In [50]:
#Visualization of table_1_Bothsexes
#Box Plot
sns.catplot(data=table1_RMC, kind="box", x="year", y="Migrant Stock", hue="Gender")

TypeError: ignored

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_1_Both_sexes = Migrant Stock for Both Sexes
split_point = 1590
print(split_point)
tidy_table_01_Both_sexes = tidy_table_01.iloc[:split_point]
#Group By Both sexes, and then remove the gender columns
tidy_table_01_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Migrant Stock for Both Sexes","year","Gender"]
tidy_table_1_Both_sexes = tidy_table_01_Both_sexes.drop("Gender",axis=1)

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_1_male = Migrant Stock for Male
split_point = 1590
split_male_female = 3180
tidy_table_01_Male = tidy_table_01.iloc[split_point:split_male_female]
#Group By Male
tidy_table_01_Male.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Migrant Stock for Male","year","Gender"]
tidy_table_1_Male = tidy_table_01_Male.drop("Gender",axis=1)
table1_male = tidy_table_1_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Migrant Stock for Male'].aggregate('first').unstack()
#Remove Non-country Variable
table01_Continent_or_region_male = table1_male.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
clean_table1_male = table1_male.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table1_male

In [ ]:
#Remove Missing Value
missing_val = [".."]
missing = clean_table1_male.isin(missing_val)
clean_table1_male.mask(missing, "Missing_value").head(50)

In [ ]:
#Visualization for Table_1_Male

In [ ]:
#Split the data in different table, start fromn row 3180, tidy_table_1_female = Migrant Stock for female
split_male_female = 3180
tidy_table_1_female = tidy_table_01.iloc[split_male_female:]
#Group by Female
tidy_table_1_female.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Migrant Stock for female","year","Gender"]
tidy_table_1_female = tidy_table_1_female.drop("Gender",axis=1)
table1_female = tidy_table_1_female.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Migrant Stock for female'].aggregate('first').unstack()
#Remove Non-Country Variables
table01_Continent_or_region_female = table1_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
clean_table1_female = table1_female.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
#Remove Missing Value
missing_val = [".."]
missing = clean_table1_female.isin(missing_val)
clean_table1_female.mask(missing, "Missing_value").head(50)

In [ ]:
#Visualization of Table_1_Female