<a href="https://colab.research.google.com/github/maidahshah/inf1340-programmingfordatascience-fa22/blob/main/SHAH_MAIDAH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Maidah Shah**  
Assignment 1: Midterm Project, Tidying UN Dataset   
INF1340, Fall 2022   
November 9, 2022


**Link:**

In [22]:
### STEP 1 ###
# Upload the dataset to google colab.

# Examine the raw data. As there are 6 tables, each in seperate tabs, we will split the dataset and store each split as a data frame.
# Tabs: "CONTENTS", "ANNEX", and "NOTES" do not need to be split as they just contain supplementary information to help interpret the data. 

import pandas as pd # Import library to read and split the data file, as well as to perform other functions later.
data = pd.ExcelFile("/content/UN_MigrantStockTotal_2015.xlsx") # Read in the data using ExcelFile as the file is in an xlsx format.

# Split each tab into a data frame containing one table using read_excel for the xlsx format. There will be 6 data frames in total, one for each tab/table. 
# Tab numbers correspond to table numbers. We will set the data frame numbers to match.
# Skip the first 14 rows in each data frame as they do not contain data.
df1orig = pd.read_excel(data, sheet_name='Table 1', skiprows=range(14)) # The "orig" stands for original as we will copy the data frames later and the original will remain unchanged.
df2orig = pd.read_excel(data, sheet_name='Table 2', skiprows=range(14))
df3orig = pd.read_excel(data, sheet_name='Table 3', skiprows=range(14))
df4orig = pd.read_excel(data, sheet_name='Table 4', skiprows=range(14))
df5orig = pd.read_excel(data, sheet_name='Table 5', skiprows=range(14))
df6orig = pd.read_excel(data, sheet_name='Table 6', skiprows=range(14))

In [23]:
### STEP 2 ###
# Examine the table for violations of tidy data principles. We will start with df1.

df1orig.head()

# Tidy Data Principle 1: Each observation forms a row.
# Tidy Data Principle 2: Each variable forms its own column.
# Tidy Data Principle 3: Variables need to be in cells, not rows and columns. 
# Tidy Data Principle 4: Each table column needs to have a singular data type.
# Tidy Data Principle 5: A single observational unit must be in one table.

# FINDINGS: 
# We can see that the migrant stock/sex headers are not merged or labelled for all the years. 
# There appear to be two header rows with stock/sex and year as the only multilevel headers in the data frame. 
# Migrant stock, sex, and year are three unique variables.
# The "Sort order", "Major area, region, country or area of destination", "Notes", "Country code", and "Type of data (a)" columns repeat in each data frame, except for "Type of data (a)" in df2. 
# A unique identifier column, "Sort order" is already present in each data frame, so "Major area, region, country or area of destination" and "Country code" appear redundant.
# "Notes" and "Type of data (a)" seem to be supplementary details to help interpret the data.

# VIOLATIONS: 
# Each observation does not form a row, as the year variable is embedded in a row and the sex columns are not all labelled. 
# Column headers are values that contain useful information and not variable names (e.g., Male, 1990), and each variable does not have its own column.
# Variables are stored in rows and columns (i.e., sex, year).
# Multiple variables and data types are stored in one column (i.e., sex, year).
# There are multiple observational units in the table (i.e., area/region/country, migrant stock)

# PLAN:
# We will combine the stock, sex, and year headers into a variable to enable the removal of the second header row with years.
# We will then melt the header into three variables and columns.
# We will then split the data frame into two tables for df1. One for area/region/country, and the second for migrant stock.
# For df2-df6, we will remove the "Major area, region, country or area of destination", "Notes", "Country code", and "Type of data (a)" columns where present in each data frame. 
# If we need these columns at any point, we can append them back to our data frame as we will create a separate table with them for df1.

,Sort\norder,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),International migrant stock at mid-year (both sexes),Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,International migrant stock at mid-year (female),Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,1990,1995,2000,2005,2010,...,2000,2005,2010,2015,1990,1995,2000,2005,2010,2015
1,1.0,WORLD,NaN,900.0,NaN,152563212,160801752,172703309,191269100,221714243,...,87884839,97866674,114613714,126115435,74815702,79064275,84818470,93402426,107100529,117584801
2,2.0,Developed regions,(b),901.0,NaN,82378628,92306854,103375363,117181109,132560325,...,50536796,57217777,64081077,67618619,42115231,47214055,52838567,59963332,68479248,72863336
3,3.0,Developing regions,(c),902.0,NaN,70184584,68494898,69327946,74087991,89153918,...,37348043,40648897,50532637,58496816,32700471,31850220,31979903,33439094,38621281,44721465
4,4.0,Least developed countries,(d),941.0,NaN,11075966,11711703,10077824,9809634,10018128,...,5361902,5383009,5462714,6463217,5236216,5573685,4721920,4432371,4560536,5493028

In [24]:
### STEP 3 ###

# We will first copy each data frame and make changes to the copy, so if needed, we can refer to the original data frame at any point.

df1 = df1orig.copy(deep=True)
df2 = df2orig.copy(deep=True)
df3 = df3orig.copy(deep=True)
df4 = df4orig.copy(deep=True)
df5 = df5orig.copy(deep=True)
df6 = df6orig.copy(deep=True)

In [25]:
### STEP 4 ###

# Remove the "Major area, region, country or area of destination", "Notes", "Country code", and "Type of data (a)" columns where present in each data frame, except for df1.

df2.drop(columns=['Major area, region, country or area of destination','Notes','Country code'], inplace=True)
df3.drop(columns=['Major area, region, country or area of destination','Notes','Country code','Type of data (a)'], inplace=True)
df4.drop(columns=['Major area, region, country or area of destination','Notes','Country code','Type of data (a)'], inplace=True)
df5.drop(columns=['Major area, region, country or area of destination','Notes','Country code','Type of data (a)'], inplace=True)
df6.drop(columns=['Major area, region, country or area of destination','Notes','Country code','Type of data (a)'], inplace=True)

In [26]:
### STEP 5 ###

# Working on df1.
# Start by assigning column names to all the migrant stock/sex columns, and abbreviate the sex to an initial to simplify splitting of the variable name later.

for i in range(5,23): # This is the range of stock/sex columns.

  if i in range(5,11):
    df1.columns.values[i] = "B" # B for both sexes.
  elif i in range (11,17):
    df1.columns.values[i] = "M" # M for male.
  else:
    df1.columns.values[i] = "F" # F for female.

In [27]:
### STEP 6 ###

# Bring up the year data from the second header row and append it with the sex to enable deletion of the year row later.

for j in range(5,23):

  if j in [5,11,17]: # Corresponds to columns with year value 1990 and so on for each year below.
    df1.columns.values[j] = df1.columns.values[j] + "1990"
  elif j in [6,12,18]:
    df1.columns.values[j] = df1.columns.values[j] + "1995"
  elif j in [7,13,19]:
    df1.columns.values[j] = df1.columns.values[j] + "2000"
  elif j in [8,14,20]:
    df1.columns.values[j] = df1.columns.values[j] + "2005"
  elif j in [9,15,21]:
    df1.columns.values[j] = df1.columns.values[j] + "2010"
  else:
    df1.columns.values[j] = df1.columns.values[j] + "2015"

In [ ]:
### STEP 7 ###

# Confirm that the variable names appear as desired, i.e., "Sex + Year", and that they correspond to the correct sex and year columns.

df1.head(2)

In [ ]:
### STEP 8 ###

# Remove the second header row with the year information as that data is now included in the first header row.

df1.drop([0],inplace=True)
df1.head(2) # Confirm that the row was removed.

In [ ]:
### STEP 9 ###

# Melt the sex/year from column headers to values in a column. 

df1 = df1.melt(id_vars = ['Sort\norder', 'Major area, region, country or area of destination','Notes','Country code','Type of data (a)'], var_name = "sex_yr", value_name = "International migrant stock at mid-year")
df1.head() # Confirm that the values were pivoted.

In [ ]:
### STEP 10 ###

# Split sex and year into two variables and columns using the lambda function, also enabling each observation to form a row.

df1 = df1.assign(Sex = lambda x: x.sex_yr.str[0].astype(str), Year = lambda x: x.sex_yr.str[1:].astype(str)).drop("sex_yr",axis=1) 
df1.head() # Confirm that the variable was split as desired.

In [ ]:
### STEP 11a ###

# We will create two tables so that a single observaional unit is in one table.
# Table 1 will contain area/region/country with details of each area.
# Table 2 will contain the rest of the sex, year, and migrant stock data.

table1 = df1.iloc[:,:-3] # Remove the last three columns.
table2 = df1.iloc[:,[0,5,6,7]] # Keep the first column as the unique id, and the last three columns.

In [ ]:
### Step 11b ###

# Confirm that the table was split as desired, and that it is tidy. Look at header and tail data.

table1

In [ ]:
### Step 11c ###

# Confirm that the table was split as desired, and that it is tidy. Look at header and tail data. 

table2

In [ ]:
### Step 12a ###

# We will now examine df2 to ensure that the columns outlined above were removed and for violations of tidy data principles.

df2.head()

# FINDINGS: 
# We can see that df2 is similar to df1, except for the columns that were deleted and table header titles. 
# However, because of the columns that were deleted in df2, there is a single observational unit in the table, so we will not need to split the table in 2 as in step 11a. 

# VIOLATIONS:
# df2 violates the same tidy data principles detailed above for df1 in step 2 with the exception of the multiple obervational units in one table.

# PLAN: 
# We will apply the same rules and code from df1 to tidy df2 with the exception of the table splitting in step 11a.

In [ ]:
### STEP 12b ###

# Working on df2.

# Assign column names to all migrant stock/sex columns as in step 5.
for i in range(1,19): # Adjust range for df2.

  if i in range(1,7):
    df2.columns.values[i] = "B" 
  elif i in range (7,13):
    df2.columns.values[i] = "M"
  else:
    df2.columns.values[i] = "F"

# Append sex and year data as in step 6.
for j in range(1,19): # Adjust range for df2.

  if j in [1,7,13]:
    df2.columns.values[j] = df2.columns.values[j] + "1990"
  elif j in [2,8,14]:
    df2.columns.values[j] = df2.columns.values[j] + "1995"
  elif j in [3,9,15]:
    df2.columns.values[j] = df2.columns.values[j] + "2000"
  elif j in [4,10,16]:
    df2.columns.values[j] = df2.columns.values[j] + "2005"
  elif j in [5,11,17]:
    df2.columns.values[j] = df2.columns.values[j] + "2010"
  else:
    df2.columns.values[j] = df2.columns.values[j] + "2015"

# Remove the second header row as in step 8. 
df2.drop([0],inplace=True)

# Melt the sex/year from column headers to values in a column as in step 9. 
df2 = df2.melt(id_vars = ['Sort\norder'], var_name = "sex_yr", value_name = "Total population at mid-year (thousands)") # Adjust column and value names for df2.

# Split sex and year into two variables and columns as in step 10.
df2 = df2.assign(Sex = lambda x: x.sex_yr.str[0].astype(str), Year = lambda x: x.sex_yr.str[1:].astype(str)).drop("sex_yr",axis=1) 

# Confirm that the table is tidy. Look at header and tail data.
df2

In [ ]:
### Step 13a ###

# We will now examine df3 to ensure that the columns outlined above were removed and for violations of tidy data principles.

df3.head()

# FINDINGS: 
# We can see that df3 is almost identical to df1, with the exception of the columns that were deleted and table header titles. 
# However, because of the columns that were deleted in df3, there is a single observational unit in the table, so we will not need to split the table in 2 as in step 11a. 

# VIOLATIONS:
# df3 violates the same tidy data principles detailed above for df1 in step 2 with the exception of the multiple obervational units in one table.

# PLAN: 
# We will apply the same rules and code from df1 to tidy df3 with the exception of the table splitting in step 11a.

In [ ]:
### STEP 13b ###

# Working on df3.

# Assign column names to all migrant stock/sex columns as in step 5.
for i in range(1,19): # Adjust range for df3.

  if i in range(1,7):
    df3.columns.values[i] = "B" 
  elif i in range (7,13):
    df3.columns.values[i] = "M"
  else:
    df3.columns.values[i] = "F"

# Append sex and year data as in step 6.
for j in range(1,19): # Adjust range for df3.

  if j in [1,7,13]:
    df3.columns.values[j] = df3.columns.values[j] + "1990"
  elif j in [2,8,14]:
    df3.columns.values[j] = df3.columns.values[j] + "1995"
  elif j in [3,9,15]:
    df3.columns.values[j] = df3.columns.values[j] + "2000"
  elif j in [4,10,16]:
    df3.columns.values[j] = df3.columns.values[j] + "2005"
  elif j in [5,11,17]:
    df3.columns.values[j] = df3.columns.values[j] + "2010"
  else:
    df3.columns.values[j] = df3.columns.values[j] + "2015"

# Remove the second header row as in step 8. 
df3.drop([0],inplace=True)

# Melt the sex/year from column headers to values in a column as in step 9. 
df3 = df3.melt(id_vars = ['Sort\norder'], var_name = "sex_yr", value_name = "International migrant stock as a percentage of total population") # Adjust column and value names for df3.

# Split sex and year into two variables and columns as in step 10.
df3 = df3.assign(Sex = lambda x: x.sex_yr.str[0].astype(str), Year = lambda x: x.sex_yr.str[1:].astype(str)).drop("sex_yr",axis=1) 

# Confirm that the table is tidy. Look at header and tail data.
df3

In [ ]:
### Step 14a ###

# We will now examine df4 to ensure that the columns outlined above were removed and for violations of tidy data principles.

df4.head()

# FINDINGS: 
# We can see that df4 differs from df1 as it is only measuring migrant stock for females, not males and both sexes.
# As such, there are much fewer columns.
# However, because of the columns that were deleted in df4, there is a single observational unit in the table, so we will not need to split the table in 2 as in step 11a. 

# VIOLATIONS:
# df4 violates the same tidy data principles detailed above for df1 in step 2 with the exception of the multiple obervational units in one table.

# PLAN: 
# We will simplify and apply the same rules and code from df1 to tidy df4 to account for two fewer sexes, and with the exception of the table splitting in step 11a.
# We cannot skip the creation of a sex variable and column even though there is only one sex as the table header cannot contain valuable information, i.e., female in this case.
# Also, each variable must form its own column.

In [ ]:
### STEP 14b ###

# Working on df4.

# Assign column names to all migrant stock/sex columns as in step 5.
# However, consider that there is only one sex to account for. Simplify the code to reflect this.
for i in range(1,7): # Adjust range for df4.

  if i in range(1,7):
    df4.columns.values[i] = "F" # Female is the only sex option in df4.

# Append sex and year data as in step 6. 
# However, we can simplify by removing the for loop and if/elif/else statements and directly append the columns as there are only a few. 
df4.columns.values[1] = df4.columns.values[1] + "1990"
df4.columns.values[2] = df4.columns.values[2] + "1995"
df4.columns.values[3] = df4.columns.values[3] + "2000"
df4.columns.values[4] = df4.columns.values[4] + "2005"
df4.columns.values[5] = df4.columns.values[5] + "2010"
df4.columns.values[6] = df4.columns.values[6] + "2015"

# Remove the second header row as in step 8. 
df4.drop([0],inplace=True)

# Melt the sex/year from column headers to values in a column as in step 9. 
df4 = df4.melt(id_vars = ['Sort\norder'], var_name = "sex_yr", value_name = "Migrants as a percentage of the international migrant stock") # Adjust column and value names for df4.

# Split sex and year into two variables and columns as in step 10.
df4 = df4.assign(Sex = lambda x: x.sex_yr.str[0].astype(str), Year = lambda x: x.sex_yr.str[1:].astype(str)).drop("sex_yr",axis=1) 

# Confirm that the table is tidy. Look at header and tail data.
df4

In [ ]:
### Step 15a ###

# We will now examine df5 to ensure that the columns outlined above were removed and for violations of tidy data principles.

df5.head()

# FINDINGS: 
# We can see that df5 is similar to df1, with the exception of the columns that were deleted, table header titles, and one less column for each sex/year as the years are in ranges. 
# However, because of the columns that were deleted in df5, there is a single observational unit in the table, so we will not need to split the table in 2 as in step 11a. 

# VIOLATIONS:
# df5 violates the same tidy data principles detailed above for df1 in step 2 with the exception of the multiple obervational units in one table.

# PLAN: 
# We will apply the same rules and code from df1 to tidy df5 with the exception of the table splitting in step 11a. 
# We will also need to consider that the years are in ranges, which creates one less sex/year column per sex, shifting the indices.

In [ ]:
### STEP 15b ###

# Working on df5.

# Assign column names to all migrant stock/sex columns as in step 5.
for i in range(1,16): # Adjust range for df5.

  if i in range(1,6):
    df5.columns.values[i] = "B" 
  elif i in range (6,11):
    df5.columns.values[i] = "M"
  else:
    df5.columns.values[i] = "F"

# Append sex and year data as in step 6.
for j in range(1,16): # Adjust range for df3.

  if j in [1,6,11]:
    df5.columns.values[j] = df5.columns.values[j] + "1990-1995"
  elif j in [2,7,12]:
    df5.columns.values[j] = df5.columns.values[j] + "1995-2000"
  elif j in [3,8,13]:
    df5.columns.values[j] = df5.columns.values[j] + "2000-2005"
  elif j in [4,9,14]:
    df5.columns.values[j] = df5.columns.values[j] + "2005-2010"
  else:
    df5.columns.values[j] = df5.columns.values[j] + "2010-2015"

# Remove the second header row as in step 8. 
df5.drop([0],inplace=True)

# Melt the sex/year from column headers to values in a column as in step 9. 
df5 = df5.melt(id_vars = ['Sort\norder'], var_name = "sex_yr", value_name = "Annual rate of change of the migrant stock") # Adjust column and value names for df5.

# Split sex and year into two variables and columns as in step 10.
df5 = df5.assign(Sex = lambda x: x.sex_yr.str[0].astype(str), Years = lambda x: x.sex_yr.str[1:].astype(str)).drop("sex_yr",axis=1) # Adjust column and value names for df5.

# Confirm that the table is tidy. Look at header data.
df5

In [ ]:
### Step 16a ###

# We will now examine df6 to ensure that the columns outlined above were removed and for violations of tidy data principles.

df6.head()

# FINDINGS: 
# We can see that df6 differs from df1 as it seems that we are measuring 3 observational units in the table, so we will need to split the table in 3, similar to step 11a. 
# The first table is the only observational unit that includes sex as a variable.
# It will only be measuring migrant stock for both sexes, and not males and females separately.

# VIOLATIONS:
# df3 violates the same tidy data principles detailed above for df1 in step 2, including the violation of having multiple obervational units in one table.

# PLAN: 
# We will start out by splitting the data frame into 3 separate tables. 
# Unlike for df1 in step 11a where we split after cleaning, we will split first here as each observational unit and table will require different steps to tidy.
# For the first table, there will only be one possible sex value, "both sexes", so we can use similar code from df4 in step 14b where there was also only one possible sex value.
# For the second and third tables, as there are no sex variables, we will only need to create year variables.

In [ ]:
### STEP 16b ###

# Working on df6.

# We will create three tables so that a single observaional unit is in one table.
# Table 1 will contain the obervational unit, estimated refugee stock.
# Table 2 will contain the obervational unit, refugees as a percentage of the international migrant stock.
# Table 3 will contain the obervational unit, annual rate of change of the refugee stock.

# Table 1 for df6. Ensure that table names are distiniguishable from table names for df1 in step 11a. 
df6_table1orig = df6.iloc[:,:-11] # Remove the last eleven columns. The "orig" stands for original as we will copy the table so that the original table remains unchanged.
df6_table1 = df6_table1orig.copy(deep=True) # Make a copy.
df6_table1.head() # Confirm that the table was split as desired. Look at header data.

In [ ]:
### STEP 16c ###

# Table 2 for df6. 
df6_table2orig = df6.iloc[:,[0,7,8,9,10,11,12]] # Keep the first column as the unique id, and the second observational unit columns.
df6_table2 = df6_table2orig.copy(deep=True) # Make a copy.
df6_table2.head() # Confirm that the table was split as desired. Look at header data.

In [ ]:
### STEP 16d ###

# Table 3 for df6. 
df6_table3orig = df6.iloc[:,[0,13,14,15,16,17]] # Keep the first column as the unique id, and the third observational unit columns.
df6_table3 = df6_table3orig.copy(deep=True) # Make a copy.
df6_table3.head() # Confirm that the table was split as desired. Look at header data.

In [ ]:
### STEP 16e ###

# Working on df6_table1.

# Assign column names to all migrant stock/sex columns as in step 5.
# However, consider that there is only one sex to account for. Simplify the code to reflect this.
for i in range(1,7): # Adjust range for df6, first observational unit.

  if i in range(1,7):
    df6_table1.columns.values[i] = "B" # Both is the only sex option for the first observational unit in df6.

# Append sex and year data as in step 6. 
# However, we can simplify by removing the for loop and if/elif/else statements and directly append the columns as there are only a few. 
df6_table1.columns.values[1] = df6_table1.columns.values[1] + "1990"
df6_table1.columns.values[2] = df6_table1.columns.values[2] + "1995"
df6_table1.columns.values[3] = df6_table1.columns.values[3] + "2000"
df6_table1.columns.values[4] = df6_table1.columns.values[4] + "2005"
df6_table1.columns.values[5] = df6_table1.columns.values[5] + "2010"
df6_table1.columns.values[6] = df6_table1.columns.values[6] + "2015"

# Remove the second header row as in step 8. 
df6_table1.drop([0],inplace=True)

# Melt the sex/year from column headers to values in a column as in step 9. 
df6_table1 = df6_table1.melt(id_vars = ['Sort\norder'], var_name = "sex_yr", value_name = "Estimated refugee stock at mid-year") # Adjust column and value names for df6_table1.

# Split sex and year into two variables and columns as in step 10.
df6_table1 = df6_table1.assign(Sex = lambda x: x.sex_yr.str[0].astype(str), Year = lambda x: x.sex_yr.str[1:].astype(str)).drop("sex_yr",axis=1) 

# Confirm that the table is tidy. Look at header and tail data.
df6_table1

In [ ]:
### STEP 16f ###

# Working on df6_table2.

# Bring the year data from the second header row up to the first header row. 
# As we are not appending with sex or any other variable in this case, we can simply rename the columns.
df6_table2.columns = ['Sort\norder', '1990', '1995', '2000', '2005', '2010', '2015']

# Remove the second header row as in step 8. 
df6_table2.drop([0],inplace=True)

# Melt the year from column headers to values in a column as in step 9. 
df6_table2 = df6_table2.melt(id_vars = ['Sort\norder'], var_name = "Year", value_name = "Refugees as a percentage of the international migrant stock") # Adjust column and value names for df6_table2.

# Confirm that the table is tidy. Look at header and tail data.
df6_table2

In [ ]:
### STEP 16g ###

# Working on df6_table3.

# Bring the year data from the second header row up to the first header row. 
# As we are not appending with sex or any other variable in this case, we can simply rename the columns.
df6_table3.columns = ['Sort\norder', '1990-1995', '1995-2000', '2000-2005', '2005-2010', '2010-2015']

# Remove the second header row as in step 8. 
df6_table3.drop([0],inplace=True)

# Melt the year from column headers to values in a column as in step 9. 
df6_table3 = df6_table3.melt(id_vars = ['Sort\norder'], var_name = "Years", value_name = "Annual rate of change of the refugee stock") # Adjust column and value names for df6_table3.

# Confirm that the table is tidy. Look at header and tail data.
df6_table3